# Compiled Object files
*.o


# Excecutables
*.exe


#Test Files
*.dat
*.bmp
dataset.txt

#Benchmark changing file
First_CUDA/Working_project/bench/benchResult

#workspace manager
*.code-workspace
*.json
