# Compiled Object files
*.o


# Excecutables
*.exe


#Test Files
*.dat
*.bmp
dataset.txt


#workspace manager
*.code-workspace
*.json
AES_Implementations/Implem_Methods/Data/256KBdataset.txt
AES_Implementations/Implem_Methods/Data/512KBdataset.txt
AES_Implementations/Implem_Methods/Data/1024KBdataset.txt
AES_Implementations/Implem_Methods/Data/8192KBdataset.txt
